<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/checkout.css') }}">
</head>
<body>
    <div class="black-block">
        <img src="{{ url_for('static', filename='uber_logo.png') }}" alt="Your Logo" class="logo">
    </div>
    <div class="container">
        <h1 class="text-center">Ride Invoice</h1>

        {% if trip_cost %}
            <div>
                <p>Ride ID: {{ ride_id }}</p>
                <p>Earnings: ${{ trip_cost }}</p>
            </div>
        {% else %}
            <p>No earnings data available.</p>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
