<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/authentication.css') }}">
</head>
<body>
    <div class="black-block">
        <img src="static/uber_logo.png" alt="Your Logo" class="logo">
    </div>
    <div class="container">
        <form method="POST" id="register-form" action="{{ url_for('register', role=request.args.get('role')) }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label class="form-label">{{ form.username.label }}</label>
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                <label class="form-label">{{ form.password.label }}</label>
                {{ form.password(class="form-control") }}
            </div>
            <div class="form-group">
                <label class="form-label">{{ form.email.label }}</label>
                {{ form.email(class="form-control") }}
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-register">Register</button>
            </div>
        </form>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="static/validation.js"></script>
</body>
</html>
